* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: palevioletred;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 50px;
  margin: 10px 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.cards div {
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  border-radius: 7px;
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

div.selected {
  border: 1px solid rgb(231, 87, 135);
  background-color: rgb(231, 87, 135);
  color: rgb(255, 255, 255);
  font-weight: bold;
}
